@model PersonalityIndicatorFinal.ViewModel.QuestionWithAnswers
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("AddAnswers", "Home"))
{
    foreach (var question in Model.Questions)
    {
        <label class="active">@question.QuestionNumber. @question.Questions</label>
        <br />
        <br />

        <div class="btn-group" data-toggle="buttons">
            @foreach (var answer in question.Answers)
            {
                <label class="btn btn-info btn-lg">
                    <input type="radio" autocomplete="off" name="@question.QuestionNumber" value="@answer.AnswerNumber"> @answer.Answers
                </label>
            }
        </div>
        <br />
        <br />

    }
    <br />
    <br />
    <button type="submit" class="btn btn-success btn-lg" id="btnSubmit">Submit</button>

}

@section scripts{
    <script src="~/Scripts/app.js"></script>
}

