@model PersonalityIndicatorFinal.ViewModel.QuestionWithAnswers
@{
    ViewBag.Title = "Home Page";
}
@*         <table class="table table-bordered table-hover"> *@
@*             <thead> *@
@*             <tbody> *@
@*                 @{ *@
@*                     foreach (var question in Model.Questions) *@
@*                     { *@
@*                         <tr> *@
@*                             <td>@question.QuestionNumber @question.Questions</td> *@
@*                         </tr> *@
@* *@
@*                         foreach (var answer in question.Answers) *@
@*                         { *@
@*                             <tr> *@
@*                                 <td>@answer.AnswerNumber. @answer.Answers</td> *@
@*                             </tr> *@
@*                         } *@
@*                     } *@
@*                 } *@
@*             </tbody> *@
@*             </thead> *@
@*         </table> *@

        @using (Html.BeginForm("Index", "Home"))
        {
            foreach (var question in Model.Questions)
            {
                <label>@question.QuestionNumber. @question.Questions</label>
                foreach (var answer in question.Answers)
                {
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   name="Answer"/> @answer.AnswerNumber. @answer.Answers
                        </label>
                    </div>
                }
                
            }
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        }
