<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: currentColor;border-color: #080856; margin-bottom: 0px;font-size: 20px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Myers-Briggs Personality Indicator", "Main", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Main", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <input type="button" value="LogIn" class="btn btn-primary" style="margin-left: 180px; padding-top: 15px; padding-bottom: 15px; background-color: #337ab7;" onclick="window.location = '@Url.Action("Login", "Account")'" />
            <input type="button" value="SignUp" class="btn btn-success" style="padding-top: 15px; padding-bottom: 15px;" onclick="window.location = '@Url.Action("SignUp", "Account")'" />
        </div>
    </div>
</div>
